@import 'bootstrap/dist/css/bootstrap';
.navbar{  
    background-image: asset-url('download.jpg');
}
.booking_name{
    color: white !important;
}
.form-label{
    color: white !important;
}
.bg{
    background-image: asset-url('download.jpg');
}
.text_field{
    color: white !important;
}
.text-center{
    background-color: white;
}
.show_text{
    color: white;
}